@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes entradaPadrao {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    background-color: black;
    background-image: url(../Assets/gw96_2ikv_211202.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: entradaPadrao 0.8s ease-in;
}

header {
    background-color: rgba(0, 41, 0, 0.785);
    padding: 20px 0px;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

section {
    background-color: rgba(255, 255, 255, 0.751);
    margin: 15px;
    padding: 23px;
    text-align: justify;
    border-radius: 2px;
}

section.even {
    background-color: rgba(255, 255, 255, 0.751);
}

.imagem > img{
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    height: 348px;
    width: 232px;
    transition-duration: .5s;
}

.imagem > p {
    text-indent: 15px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

p {
    text-indent: 15px;
    padding: 15px;
    max-width: 900px;
    display: block;
    margin: auto;
}
  
.imagem-originarias  {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 325px;
    width: 231.5px;
}

a {
    color: black;
    text-indent: none;
}

a.pages {
    color: white;
    text-align: center;
    text-decoration: none;
}

nav a {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}
  
nav a:focus {
    outline: none;
}

ul {
    background-color: rgba(0, 41, 0, 0.659);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.088);
    text-align: center;
    align-items: center;
    padding: 13px 15px 13px 15px;
    transition-duration: .5s;
}

li:hover {
    background-color: rgb(0, 41, 0);
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}

.sobrenaine {
    transition-duration: 0.5s;
    text-decoration: none;
}
.sobrenaine:hover {
    color: rgba(0, 0, 0, 0.699);
    text-decoration: underline;
}

@media screen and (max-width:390px) {
    nav a {
        font-size: 10.6pt;
    }
}